/* now you can try using nested selectors*/

@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: whitesmoke;
  background-color: #0e0e0e;;
  scrollbar-width: thin;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root::-webkit-scrollbar {
  width: 10px;
}





.main-container {
  display: grid; 
  grid-template-areas: 's n n'
                       's m m'
                       's m m'
                       'f f f';
  grid-template-rows: 1fr 4fr 4fr 1fr;
  grid-template-columns: minmax(14.5rem, max-content) minmax(auto, 1fr);
  scrollbar-width: none;
  overflow: clip;
}

.main-container::-webkit-scrollbar{
  display: none !important;

}

.sidebar {
  grid-area: s;
}

.main-child {
  display: grid;
  grid-template-areas: 'm m p';
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
}





.footer, .nav{
  padding-right: 0.4rem;
} 

.inactive {
  pointer-events: none;
  cursor: none;
  color: gray;
}

.sidebar ul>li {
  width: 100%;
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 2rem;
  padding-left: 15%;
  font-weight: 700;
}

.sidebar>ul, .sidebar>h2 {
  width: 100%;
}


.sidebar ul li:hover {
  background-color: gray;
  pointer-events: visible;
  cursor: pointer;
}

.sidebar li.--big-svg{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.sidebar svg:not(.media-count) {
  width: 2rem;
  height: 2rem;
  display: inline-block;
}

.sidebar svg.small-svg{
  width: 1.5rem;
  height: 1.5rem;
}

.sidebar li>svg {
  margin-right: 0.5rem;
}


.sidebar svg.--big-svg {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: -4.5px;
  
}


.footer svg {
  width: 1.4rem;
  height: 1.4rem;
}

footer input, footer svg {
  cursor: pointer;
}


.footer {
  grid-area: f;
}

/*style the slider thumb give it some width and height*/
footer input[type=range] {
  -webkit-appearance: none;
  appearance: none; /* Hides the slider so that custom slider can be made */
}

footer input[type=range]::-webkit-slider-thumb, footer  input[type=range]::-moz-range-thumb, footer input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  appearance: none; 
  
}
footer input[type=range]::-webkit-slider-thumb, footer input[type=range]::-moz-range-thumb, footer input[type=range]::-ms-thumb {
  background: whitesmoke;
} 

footer input[type=range]::-webkit-slider-thumb:hover, footer  input[type=range]::-moz-range-thumb:hover, footer input[type=range]::-ms-thumb:hover {
  height: 15px;
  width: 15px;
  background-color: whitesmoke;
  border-radius: 50%;
  border: none;
  margin-top: 1px;
  transition: .2s ease-in-out
}

footer input[type=range]::-webkit-slider-runnable-track,footer input[type=range]::-moz-range-track, footer input[type=range]::-ms-track {
  height: 0.25rem;
  background: white;
  border-radius: 1rem;
}

footer input[type=range]::-webkit-slider-runnable-track:hover, footer input[type=range]::-moz-range-track:hover, footer input[type=range]::-ms-track:hover {
  background: rgba(18, 218, 18, 0.521);
}


footer input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}


footer input[type=range]::-ms-fill-upper, footer input[type=range]::-ms-fill-lower {
  background: white;
}

.player svg {
  width: 1.5rem;
  height: 1.5rem;
}

.player svg.play {
  width: 3rem;
  height: 3rem;
}


.slider-control-centerright > button, .slider-control-centerleft > button{
  background-color: transparent !important;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}


button{

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover{
  border-color: #646cff;
}


li {
  text-transform: capitalize;
}

.transitional {
  transition: all 0.3s ease-in-out;
}

@keyframes translateOut {
  from {
    transform: translateX(calc(-100% - 20px));
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes translateIn {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.translateIn {
  animation: 300ms ease-in-out 0s 1 normal forwards running translateIn;
  margin-right: 0;
  display: none;
}


.translateOut{
  display: flex;
  margin-right: 2rem;
  animation: 300ms ease-in-out 0s 1 normal forwards running translateOut;
}


@media screen and (min-width: 1124px) and (min-height: 65rem ) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 777px) {
  

  

}
