/* now you can try using nested selectors*/

@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: whitesmoke;
  background-color: #0e0e0e;;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}





.main-container {
  display: grid; 
  grid-template-areas: 's n n'
                       's m m'
                       's m m'
                       'f f f';
  grid-template-rows: 1fr 4fr 4fr 1fr;
  grid-template-columns: minmax(14.5rem, max-content) minmax(auto, 1fr);
}

.sidebar {
  grid-area: s;
}

.main-children {
  display: grid;
  grid-template-areas: 'm m p';
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
}

.inactive {
  pointer-events: none;
   cursor: default;
   color: gray;
}

.sidebar ul>li {
  width: 100%;
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 2rem;
  padding-left: 15%;
}

.sidebar>ul, .sidebar>h2 {
  width: 100%;
}
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}



.sidebar ul li:hover {
  background-color: gray;
  pointer-events: visible;
  cursor: pointer;
}

.sidebar li.--big-svg{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: 1px;
}

input[type=range]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb, input[type=range]::-ms-thumb {
background: transparent;
}  

input[type=range]::-webkit-slider-runnable-track {
  height: 0.25rem;
  background: white;
  border-radius: 1rem;
}

input[type=range]::-moz-range-track {
  height: 0.25rem;
  background: white;
  border-radius: 1rem;
}

input[type=range]::-ms-fill-upper, input[type=range]::-ms-fill-lower {
  background: white;
}
.sidebar svg {
  width: 2rem;
  height: 2rem;
  display: inline-block;
}

.sidebar li>svg {
  margin-right: 0.7rem;
}

.sidebar svg.--big-svg {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: -4.5px;
  
}


.footer svg {
  width: 1.4rem;
  height: 1.4rem;
}


.footer {
  grid-area: f;
}

.player svg {
  width: 1.5rem;
  height: 1.5rem;
}

.player svg.play {
  width: 3rem;
  height: 3rem;
}


.slider-control-centerright > button, .slider-control-centerleft > button{
  background-color: transparent !important;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.range {
  --track-fill: 70%;
}


button{

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover{
  border-color: #646cff;
}


li {
  text-transform: capitalize;
}

.transitional {
  transition: all 0.3s ease-in-out;
}

@keyframes translateOut {
  from {
    transform: translateX(calc(-100% - 20px));
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes translateIn {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.translateIn {
  animation: 300ms ease-in-out 0s 1 normal forwards running translateIn;
  margin-right: 0;
  display: none;
}


.translateOut{
  display: flex;
  margin-right: 2rem;
  animation: 300ms ease-in-out 0s 1 normal forwards running translateOut;
}

@media screen and (min-width: 1124px) and (min-height: 65rem ) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 777px) {
  .main, .nav, .footer{
    padding-right: 2rem;
  }
}